@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(211, 208, 208);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.chatbot {
  position: fixed;
  height: 90%;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
  0 32px 64px -48px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatbot .chatbox {
  overflow-y: auto;
  padding: 15px 20px 90px;
}

.chatbot header {
  background-color: rgb(69, 69, 131);
  color: white;
  padding: 16px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.chatbox {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  scroll-behavior: smooth;
}

.chatbox li {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  list-style:  none;
}

.incoming {
  justify-content: flex-start;
}

.outgoing {
  justify-content: flex-end;
}

.avatar {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: rgb(69, 69, 131);
}

.chatbot header h2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.chatbot .chatbox{
  height: 510px;
  overflow-y: auto;
  padding: 15px 20px 70px;
}

#symcheck {
  background-color: rgb(69, 69, 131);
  max-width: 75%;
  margin: 0;
  margin-left: 10px;
  padding: 15px 20px;
  border-radius: 0 15px 15px 15px;
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
}

.outgoing p {
  background-color: rgb(139, 138, 138);
  max-width: 80%;
  margin: 0;
  margin-right: 10px ;
  padding: 15px 20px;
  border-radius: 15px 15px 0 15px;
  color: white;
  font-size: 15px;
}

.inputbox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 25px 25px;
}

.inputbox textarea {
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  width: calc(100% - 60px);
  min-height: 40px;
  max-height: 120px;
  overflow-y: auto;
}

.send-btn {
  font-size: 30px;
  color: rgb(69, 69, 131);
  background-color: rgb(255, 254, 254);
  border: none;
  border-radius: 50%;
  padding: 12.5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.send-btn:hover {
  transform: scale(1.1);
}

.send-btn:active {
  transform: scale(0.8);
}

/*
.typing {
  font-style: italic;
  color: gray;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to { visibility: hidden; }
}
  */
